<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        {% include 'landing/snippets/bootstrap.html' %}

        {% block style %}

        {% endblock style %}
        
        <title>{{ page_title }}</title>
    </head>
    <body>
        <div id="navbar">
            {% include 'landing/snippets/navbar.html' %}
        </div>
        <div>
            {% block content %}

            {% endblock content %}
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        {% include 'landing/snippets/bootstrapjquerypopper.html' %}
    </body>
</html>