{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/home_ajax.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'javascript/home_ajax.js' %}"></script>
    <title>Hello Ajax!</title>
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <h1 class="text-center" style="margin: 10px; font-family:Verdana, Geneva, Tahoma, sans-serif;">
                FIND YOUR FAVORITE BOOK HERE
            </h1>
            <div class="text-center">
                <input id="user_input" class="form-control form-control-lg" type="text" placeholder="write down a keyword....">
            </div>

            <div class="text-center" style="margin: 10px;">
                <button type="submit" id="search_button" class="btn btn-primary">Search</button>
            </div>
        </div>

        <div class="container" id="space">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Image</th>
                    </tr>
                </thead>
                <tbody id="body_table">
                    

                </tbody>
            
            </table>

        </div>
    </div>

</body>
</html>