{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="padding-top:0; padding-bottom:.65rem;" href="{% url 'landing:index' %}">
  	<img src="{% static 'LogoYourPets.png'%}" alt="" style="max-width:8rem">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'landing:index' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'list_testimoni' %}">Testimoni</a>
          <a class="dropdown-item" href="#">FAQs</a>    
		  <a class="dropdown-item" href="#">Pembayaran</a>       
        </div>
      </li>
    </ul>
  </div>
</nav>