{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success, yeayy!</title>
</head>
<body>
    <h1>
        Hello, {{ username }}. <br>
        Selamat, kamu berhasil Login di web iniii....
    </h1>

    <form action="{% url 'learn_auth:logout_user' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    
</body>
</html>