{% extends 'navbar.html' %}

{% block content %}
<br><br><br><br><br><br><br>
<div class="container-fluid">
    <form action="{% url 'scheduler:make_schedule' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Activity:</span>
                    </div>
                    {{ form.activity }}
                </div>

            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Category:</span>
                    </div>
                    {{ form.category }}
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Place:</span>
            </div>
            {{ form.place }}
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Date:</span>
                    </div>
                    {{ form.date }}
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Time:</span>
                    </div>
                    {{ form.time }}
                </div>
            </div>
        </div>
        <button type="submit">Add Schedule</button>
        
    </form>
</div>


<div class="container-fluid">
    <div class="schedule">
        {% for i in jadwalgue %}
            <div class="each_schedule">
                <h3>{{ i.activity }}</h3>
                <p>Category : {{ i.category }} </p>
                <p>Date : {{ i.date }} , {{ i.time }}</p>
                <p>Place : {{ i.place }} </p>
                <a href="{% url 'scheduler:delete' i.id %}" >Delete</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
