{% extends 'landing/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock style %}


{% block content %}

<div class="container" style="margin-bottom: 20px; margin-top: 10px;">
    <div class="page-header">
        <h1>{{ barang.name }}</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{ barang.imgProduct.url }}" style="border-radius: 10%;" alt="Gambar Produk">
        </div>
        <div class="col">
            <a href="#" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">Beli Produk Ini</a>
            <p style="font-size: 3rem;">IDR {{ barang.price }}</p>
        </div>
    </div>        
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-center"><br>{{ barang.description }}</p>
        </div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock content %}