{% extends 'landing/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock style %}


{% block content %}

<div class="container-fluid">
    <p class="text-center" style="font-family: muli; font-size: 2rem; margin-bottom: 5rem; margin-top: 1rem;">Welcome,
        <br>Let's find your pets and their needs here...</p>
</div>

<div class="container-fluid" id="newest_product" style="background-color: #F7F4F3;">
    <div>
        <br>
        <h1 style="font-family: muli;">Our Newest Products</h1>
        <br>
    </div>
    
    <div class="row">
        {% for i in top3 %}
            <div class="col">
                <img src="{{ i.imgProduct.url }}" style="border-radius: 5%;" 
                class="img-fluid" alt="Gambar Produk"/>
                <!-- <p>{{ i.name }}</p> -->
                <a href="{% url 'landing:description' i.id %}"> {{ i.name }}</a>
                <p>IDR {{ i.price }}</p>
            </div>
        {% endfor %}
    </div>
    <br>

</div>


<div class="container-fluid"  id="for_all_product" style="margin-bottom:5rem;">
    <div>
        <br><br><h1 style="font-family: muli;">All Products</h1><br>
    </div>

    <div class="row">
    {% for product in products %}
        <div class="card mx-3 my-2" style="width: 18rem;">
            <img src="{{ product.imgProduct.url }}" class="card-img-top" alt="Gambar Produk">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}<br>IDR {{ product.price }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <div class="mt-auto p-2 bd-highlight">
                    <a href="{% url 'landing:description' product.id %}" class="btn btn-primary pull-right" style="float: left;">Lihat</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<div class="container-fluid" id="footer" style="background-color: #F7F4F3; padding-bottom: 1rem;">
        <a href="{% url 'landing:add_my_product' %}" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">Add Product</a>
</div>

{% endblock content %}