#homepage{ 
    background-image: url("homepage.f9bd105f4686.jpeg");
    height: 120vh;
    background-size: 215vh;
}

#about-me{
    height: 90vh;
}

#foto-profil{
    border-radius: 50%;
    width: 80%;
    border: 3px solid #01977F;
}

.periode{
    font-family: muli;
    font-size: 110%;
}


.activity{
    font-family: muli;
    font-size: 150%;
    margin-top: -3%;
}

#column_row{
    padding-top: 10%;
}

#column{
    padding: 2%;
    margin: 3%;
    border: 3px solid #82E3D4;
}
