{% extends 'navbar.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col" id="edu">
            
            <h1 style="font-family: cursive; font-size:250%; text-align: left">
                <br><br>&nbsp;&nbsp;Education<br>
            </h1>
            
            <ul class="list-unstyled">
            
                <li>
                    <div class="row">
                        <div class="col col-lg-2">
                            <br><br>
                            <img src="{% static 'makara.png' %}" alt="Makara UI" style="width: 118%">
                        </div>

                        <div class="col">
                            <p style="font-family: muli; font-size: 120%;">
                                <br><br>
                                2018 - Present
                            </p>
                            <p  style="font-family: muli; font-size: 200%; margin-top: -4%">
                                Universitas Indonesia
                            </p>
                            <p  style="font-family: muli; font-size: 100%; margin-top: -4%">
                                Bachelor's degree in Information Systems
                            </p>
                        </div>
                    </div>                            
                </li>
                
                <li>
                    <div class="row">
                        <div class="col col-lg-2">
                            <br><br>
                            <img src="{% static 'smanbul.png' %}" alt="Logo Smanbul" style="width: 118%">
                        </div>
    
                        <div class="col">
                            <p style="font-family: muli; font-size: 120%;">
                                <br><br>
                                2015 - 2018
                            </p>
                            <p  style="font-family: muli; font-size: 200%; margin-top: -4%">
                                SMAN 1 Cibungbulang
                            </p>
                            <p  style="font-family: muli; font-size: 100%; margin-top: -4%">
                                Natural Sciences
                            </p>
                        </div>
                    </div>                            
                </li>
            </ul>

        </div>
        <div class="col" id="exp">
            <h1 style="font-family: cursive; font-size:250%;">
                <br><br>&nbsp;&nbsp;Experiences
            </h1>

            <br><br>
            <p class="periode">Aug 2019 - Present</p>
            <p class="activity">Teaching Assistant, Universitas Indonesia</p>
            
            <p class="periode">Jul 2019 - Present</p>
            <p class="activity">Math Teacher, Primagama</p>
            
            <p class="periode">Sep 2019 - Present</p>
            <p class="activity">Vice Project Officer, Smanbul Expo 2020</p>
            
            <p class="periode">Apr 2019 - Present</p>
            <p class="activity">PIC of Logistics, SIWAK-NG 2019</p>
            
            <p class="periode">Nov 2018 - Jan 2019</p>
            <p class="activity">Staff of Events, PRIDE 2019</p>
            
            <p class="periode">Nov 2018 - Apr 2019</p>
            <p class="activity">Staff of Logistics, Educare 2019</p>
            
            <p class="periode">Jul 2016 - Jun 2017</p>
            <p class="activity">Head of Music Extracurricular, SMAN 1 Cibungbulang</p>
        </div>
    </div>
</div>
{% endblock %}