{% extends 'navbar.html' %}
{% load static %}
{% block content %}

    <div class="container" id="column_row">
        <div class="row">
            <div class="col" id="column">
                <img src="{% static 'gallery/img1.JPG' %}" class="img-fluid" alt="Responsive image">
            </div>
            
            <div class="col" id="column">
                <img src="{% static 'gallery/img2.JPG' %}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
        
        <div class="row">
            <div class="col" id="column">
                <img src="{% static 'gallery/img3.JPG' %}" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col" id="column">
                <img src="{% static 'gallery/img4.JPG' %}" class="img-fluid" alt="Responsive image">
            </div>
        </div>

        <div class="row">
            <div class="col" id="column">
                <img src="{% static 'gallery/img5.JPG' %}" class="img-fluid" alt="Responsive image">
            
            </div>
            <div class="col" id="column">
                <img src="{% static 'gallery/img6.JPG' %}" class="img-fluid" alt="Responsive image">
            </div>
        </div>

        <div class="row" >
            <div class="col" id="column">
                <img src="{% static 'gallery/img7.JPG' %}" class="img-fluid" alt="Responsive image">    
            </div>
            
            <div class="col" id="column">
                <img src="{% static 'gallery/img8.JPG' %}" class="img-fluid" alt="Responsive image">    
            </div>
        </div>
                   
    </div>

{% endblock %}