{% extends 'navbar.html' %}

{% load static %}

{% block content %}
    <div class="container-fluid" id="homepage">
        <div class="sticky-top" id="text-hello">
            <p class="text-center" style="font-size: 500%; font-family: cursive"><br><br>Hello, I am Rian</p>
            <p class="text-center" style="font-size: 170%; font-family: cursive">I'm really happy knowing you are here...!! :)<br><br><br></p>            
        </div>
    </div>
    <div class="container-fluid" id="about-me">
        <div class="row">
            <div class="col" id="my-profil">
                <p class="text-center" style="font-family: cursive; font-size: 250%;"><br>About Me<br><br></p>
                <img class ="mx-auto d-block" src="{% static 'profile.jpg' %}" alt="Foto Profil" id="foto-profil">
                <p class="text-center" style="font-family: muli; font-size: 180%;"><br> <br></p>                      
            </div>
            <div class="col" id="identity" style="border-left: 2px solid #01977F; border-right: 2px solid #01977F">
                    <p class="text-center" style="font-family: muli; font-size: 120%;">
                        <br><br><br><br><br><br><br><br><br>
                        Name : Muhamad Rian Alpajirin<br>
                        Student Number : 1806191502<br><br>
                        Hobby : Doing nothing<br><br>                            
                        Email : muhamad.rian@ui.ac.id<br>
                        Phone : +62 857 1605 2507<br><br>
                    </p>   
            </div>
                
            <div class="col" id="quote">                    
                <p class="text-center" style="font-family: muli; font-size: 150%;">
                    <br><br><br><br><br><br>
                    "A spoiled child. A romantic boy. A cool friend to drink a cup of coffee with.<br>
                    An ordinary person with extraordinary love.<br>
                    A perfectionist philantropist who loves to share happiness to the entire universe."
                </p>  
            </div>
        </div>
    </div>
{% endblock %}