{% extends 'navbar.html' %}

{% block content %}


    <div class="container-fluid">
        <div class="row">
            <div class="col" id="skills">
                        
                <h1 style="font-family: cursive; font-size:250%; text-align: left">
                    <br><br>&nbsp;&nbsp;Skills<br><br>
                </h1>

                <dl class="row">
                    <dt class="col-sm-6">
                        <p style="font-family: muli; font-size: 130%">Programming with Python</p>
                         
                    </dt>
                    <dd class="col-sm-9">
                        <div class="progress" style="height: 8px;">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </dd>
                    <br><br><br>
                    <dt class="col-sm-5">
                        <p style="font-family: muli; font-size: 130%">Programming with Java</p>
                             
                    </dt>
                    <dd class="col-sm-9">
                        <div class="progress" style="height: 8px;">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </dd>
                    <br><br><br>
                
                    
                    <dt class="col-sm-6">
                            <p style="font-family: muli; font-size: 130%">Web Design & Programming</p>
                                 
                    </dt>
                    <dd class="col-sm-9">
                        <div class="progress" style="height: 8px;">
                            <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </dd>
                    <br><br><br>
                </dl>
            
            </div>
            <div class="col" id="lang">
                <h1 style="font-family: cursive; font-size:250%;">
                    <br><br>&nbsp;&nbsp;Language
                </h1>

                <br><br>
                <dt class="col-sm-5">
                    <p style="font-family: muli; font-size: 130%">Bahasa Indonesia</p>
                         
                </dt>
                <dd class="col-sm-9">
                    <div class="progress" style="height: 8px;">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </dd>
                <br><br><br>

                <dt class="col-sm-5">
                        <p style="font-family: muli; font-size: 130%">English</p>
                             
                </dt>
                <dd class="col-sm-9">
                    <div class="progress" style="height: 8px;">
                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </dd>
                <br><br><br>
            </div>
        </div>
    </div>    
{% endblock %}